@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&family=Parisienne&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.americanavideo {
    width: 100vw;
    object-fit: contain;
    overflow: hidden;
}

#video1 {
    width: 100vw;
}

.background {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url(Assets/about_us_back.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -3;
}

.background::-webkit-scrollbar {
    display: none;
}

.website {
    overflow-y: scroll;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 99;
    transition: 0.4s ease;
}

.content {
    width: 100vw;
    z-index: 1;
}

.abc {
    width: 100vw;
    height: 50vh;
    background-color: red;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 15vw;
    object-fit: contain;
}


.logo1 img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
}

.navbar {
    margin-left: 30vw;
    margin-right: 3vw;
    height: 40%;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-family: 'DM Serif Display', serif;
}

.nav8 {
    color: #a31521;
    font-weight: bolder;
}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5,
.nav6,
.nav7,
.nav9,
.nav10 {
    color: #002e48;
    transition: 0.4s ease;
}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover,
.nav5:hover,
.nav6:hover,
.nav7:hover {
    color: #a31521;
    cursor: pointer;
}

.nav9:hover,
.nav10:hover {
    cursor: pointer;
    background-color: #a31521;
    color: white;
}

.nav9,
.nav10 {
    padding: 5px 10px;
}



.box {
    height: 10vh;
}

.redbox {
    width: 100vw;
    height: 12vh;
    background-color: #a31521;
    position: relative;
    top: -2vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.redbox i:hover {
    color: #002e48;
    cursor: pointer;
    transition: 0.3s ease;
}

.boxpattern {
    width: 100vw !important;
    object-fit: contain;
    z-index: 3;
}

.cls-1 {
    fill: #a31521;
    z-index: 3;
}

.cls-11 {
    fill: white;
}

.cls-21 {
    z-index: 3;
    fill: #002e48;
}

.boxpattern2 {
    width: 100vw !important;
    position: relative;
    top: -4vh;
    z-index: 3;
    object-fit: contain;
}

.boxpattern3 {
    width: 100vw !important;
    position: relative;
    top: 3vh;
    z-index: 3;
    object-fit: contain;
}

.invert {
    transform: rotateY(180deg) rotateX(180deg);

}

.aboutus {
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgb(215, 234, 254);
    z-index: -1;
    position: relative;
    top: -2vh;
}

.aboutus-img {
    width: 50%;
    height: 60vh;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_left_1.jpg);
    background-size: cover;
    z-index: 1;
    transition: 0.8s ease;
}

.aboutus-text {
    width: 50%;
    background: rgba(250, 250, 250, 0);
    height: 60vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s ease;


}

.hideright {
    transform: translateX(-50vw);
}

.show {
    transform: translateX(0vh);
}

.heading {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;

}

.logo {
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/title_decoration.png) no-repeat;
    width: 20vw;
    height: 5vh;
    background-size: cover;

}

.desc {
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
    z-index: 0;

}

.btun a {
    text-decoration: none;
}

.btn1 {
    font-family: 'DM Serif Display', serif;
    background-color: #002e48;
    border: 2px solid #002e48;
    color: #fff;
    width: 11vw;
    height: 6vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    text-decoration: none;
}

.btn2 {
    font-family: 'DM Serif Display', serif;
    background-color: #a31521;
    border: 2px solid #a31521;
    color: #fff;
    width: 11vw;
    height: 6vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    text-decoration: none;
}

.btn1:hover {
    background-color: #a31521;
    cursor: pointer;
    border: 2px solid #a31521;
}

.btn2:hover {
    background-color: #002e48;
    cursor: pointer;
    border: 2px solid #002e48;
}

.catering {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catering-text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catering-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.catering-text-italics {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
    color: #002e48;
}

.catering-img-imgbox {
    width: 40vw;
    height: 100%;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_right.jpg) no-repeat;
    z-index: 10;
    background-size: contain;
}

.party-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.party-img-imgbox {
    width: 40vw;
    height: 100%;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_left_2.jpg) no-repeat;
    z-index: 10;
    background-size: contain;
}

.carousel {
    width: 400vw;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    transition: 1s ease;
}

.slide {
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px black;
}

.carousel-slide1 {
    background: url(https://res.cloudinary.com/spothopper/image/fetch/f_auto,q_70,c_fit,h_864/http://static.spotapps.co/spots/2c/a177c9479648c99cc3cdc58d5cc96d/:original) no-repeat center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

.carousel-slide2 {
    background: url(https://res.cloudinary.com/spothopper/image/fetch/f_auto,q_70,c_fit,h_864/http://static.spotapps.co/spots/0d/c06afe3575412ea41a27a7f0356281/:original) no-repeat center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

.carousel-slide3 {
    background: url(https://res.cloudinary.com/spothopper/image/fetch/f_auto,q_70,c_fit,h_864/http://static.spotapps.co/spots/80/9ed2ab348f4b18b2c922c182ed82c8/:original) no-repeat center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

.carousel-slide4 {
    background: url(https://res.cloudinary.com/spothopper/image/fetch/f_auto,q_70,c_fit,h_864/http://static.spotapps.co/spots/4b/2ae138a15d4ea0908dbeab5a27ca35/:original) no-repeat center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

.car {
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.carouselWrapper {
    overflow-y: hidden;
    position: relative;
}

.dots {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 95vw;
    height: 20vh;
    z-index: 2;
}

.dot {
    width: 1.2vw;
    height: 1.2vw;
    border: 2px solid white;
    margin: 5px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.dot:hover {
    background-color: white;
    cursor: pointer;
}

.stopPlay {
    justify-content: center;
    align-items: center;
    display: flex;
    transform: scale(0%);
    width: 5vw;
    height: 20vh;
    z-index: 2;
    font-size: 2.5rem;
    color: white;

}

.controlBar {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100vw;
    height: 20vh;
    z-index: 2;

}

.carouselWrapper:hover .stopPlay {
    transform: scale(100%);
    cursor: pointer;

}

.play,
.pause {
    width: 5vw;
    height: 20vh;
    z-index: 2;
    font-size: 2.5rem;
    color: white;
    display: flex;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.nodisplay {
    display: none;
}

.flexdisplay {
    display: flex;
}

.reservations {
    background-color: #002e48;
    width: 100vw;
    height: 80vh;
    position: relative;
    top: -3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxpattern4 {
    width: 100vw !important;
    position: relative;
    top: -3vh;
    z-index: 3;
    object-fit: contain;
}

.boxpattern5 {
    width: 100vw !important;
    position: relative;
    top: -3.5vh;
    z-index: 3;
    object-fit: contain;
}

.res {
    color: white;
}

.resdesc {
    font-family: 'Montserrat', sans-serif;
}

.collage {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0px;
    width: 100vw;
    height: 150vh;
    z-index: 1;
    position: relative;
    top: -6vh;
}

#collage1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.collage div {
    overflow: hidden;
    object-fit: cover;

}

.collage div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.5s ease;
}

.collage div img:hover {
    cursor: pointer;
    filter: brightness(100%);
    transform: scale(1.1);
}

#collage10 {
    grid-column: 3/5;
    grid-row: 3/5;
}

.boxpattern6 {
    position: relative;
    top: -8vh;
    z-index: 3;
    width: 100vw !important;
}

.reviews {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}

.reviewshead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 4rem;
}

.reviews-carousel {
    width: 500vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    transition: 0.5s ease;
}

.reviewscursive {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
    color: #002e48;
}

.reviews-carousel-slide {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews-carousel-box {
    width: 50vw;
    height: 30vh;
    display: flex;
}

.quote1,
.quote2 {
    display: flex;
    width: 10%;
    height: 30vh;
    font-size: 4rem;
    flex-direction: column;
}

.quote2 {
    justify-content: flex-end;
}

.review-box-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    color: black;
    font-size: 1.2rem;
    height: 30vh;
    width: 80%;
}

.rating h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #000;
    font-weight: 300;
}

.rating i {
    font-size: 1.2rem;
}

.bgcred {
    background-color: #a31521;
}
.bgcwhite{
background-color: none;
}

.reviews-controlbar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center
}

.reviews-controlbar-dot {
    width: 1vw;
    height: 1vw;
    border: 1px solid #a31521;
    margin: 1vw;
    border-radius: 50%;
    transition: 0.4s ease;
}
.reviews-controlbar-dot:hover{
    background-color: #a31521;
    cursor: pointer;
}