@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&family=Parisienne&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.americanavideo{
    width: 100vw;
    object-fit: contain;
    overflow: hidden;
}
#video1 {
    width: 100vw;
}
.background{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url(Assets/about_us_back.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -3;
}
.background::-webkit-scrollbar {
    display: none;
  }
.website {
    overflow-y: scroll;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 99;
    transition: 0.4s ease;
}

.content {
    width: 100vw;
    z-index: 1;
}

.abc {
    width: 100vw;
    height: 50vh;
    background-color: red;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 15vw;
    object-fit: contain;
}


.logo1 img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
}

.navbar {
    margin-left: 30vw;
    margin-right: 3vw;
    height: 40%;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-family: 'DM Serif Display', serif;
}

.nav8 {
    color: #a31521;
    font-weight: bolder;
}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5,
.nav6,
.nav7,
.nav9,
.nav10 {
    color: #002e48;
    transition: 0.4s ease;
}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover,
.nav5:hover,
.nav6:hover,
.nav7:hover {
    color: #a31521;
    cursor: pointer;
}

.nav9:hover,
.nav10:hover {
    cursor: pointer;
    background-color: #a31521;
    color: white;
}

.nav9,
.nav10 {
    padding: 5px 10px;
}



.box {
    height: 10vh;
}

.redbox {
    width: 100vw;
    height: 12vh;
    background-color: #a31521;
    position: relative;
    top: -2vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.redbox i:hover {
    color: #002e48;
    cursor: pointer;
    transition: 0.3s ease;
}

.boxpattern {
    width: 100vw;
    z-index: 3;
}
.cls-1 {
    fill: #a31521;
    z-index: 3;
}
.cls-11{
    fill: white;
}
.boxpattern2{
    position: relative;
    top: -4vh;
    z-index: 3;
}
.invert{
    transform: rotateY(180deg) rotateX(180deg);

}
.aboutus{
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgb(215, 234, 254);
    z-index: -1;
    position: relative;
    top: -2vh;
}
.aboutus-img{
    width: 50%;
    height: 60vh;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_left_1.jpg);
    background-size: cover;
    z-index: 1;
    transition: 0.8s ease;
}
.aboutus-text{
    width: 50%;
    background: rgba(250,250,250,0);
    height: 60vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s ease;


}
.hideright{
    transform: translateX(-50vw);
}
.show{
    transform: translateX(0vh);
}
.heading{
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;

}
.logo{
    background:url(https://static.spotapps.co/web/americanalasvegas--com/custom/title_decoration.png) no-repeat;
    width: 20vw;
    height: 5vh;
    background-size: cover;
    
}
.desc{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
    z-index: 0;

}
.btun a{
    text-decoration: none;
}
.btn1{
    font-family: 'DM Serif Display', serif;
    background-color: #002e48;
    border: 2px solid #002e48;
    color: #fff;
    width: 11vw;
    height: 6vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    text-decoration: none;

}
.btn1:hover{
    background-color: #a31521;
    cursor: pointer;
    border: 2px solid #a31521;

}
.catering{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catering-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.catering-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.catering-text-italics{
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
    color:#002e48;
}
.catering-img-imgbox{
    width: 40vw;
    height: 100%;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_right.jpg) no-repeat;
    z-index: 10;
    background-size: contain;
}
.party-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.party-img-imgbox{
    width: 40vw;
    height: 100%;
    background: url(https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_left_2.jpg) no-repeat;
    z-index: 10;
    background-size: contain;
}
.carousel{
    width: 400vw;
    height: 95vh;
    overflow-x: hidden;
    display: flex;
}
